In [54]:

import pandas as pd
import numpy as np

In [56]:
crime= pd.read_csv("C:/Users/bousl/OneDrive/Desktop/After Summer\Bcrime.csv" , encoding='latin-1')

In [57]:
crime

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,9/2/2018 13:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,8/21/2018 0:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,9/3/2018 19:27,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,9/3/2018 21:16,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,9/3/2018 21:05,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,6/5/2016 17:25,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
319069,I030217815-08,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,NaN,7/9/2015 13:38,2015,7,Thursday,13,Part One,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319070,I030217815-08,3125,Warrant Arrests,WARRANT ARREST,E18,520,NaN,7/9/2015 13:38,2015,7,Thursday,13,Part Three,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319071,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,5/31/2016 19:35,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"
319072,142052550,3125,Warrant Arrests,WARRANT ARREST,D4,903,NaN,6/22/2015 0:12,2015,6,Monday,0,Part Three,WASHINGTON ST,42.333839,-71.080290,"(42.33383935, -71.08029038)"

In [58]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319073 entries, 0 to 319072
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      319073 non-null  object
 1   OFFENSE_CODE         319073 non-null  int64
 2   OFFENSE_CODE_GROUP   319073 non-null  object
 3   OFFENSE_DESCRIPTION  319073 non-null  object
 4   DISTRICT             317308 non-null  object
 5   REPORTING_AREA       319073 non-null  object
 6   SHOOTING             1019 non-null    object
 7   OCCURRED_ON_DATE     319073 non-null  object
 8   YEAR                 319073 non-null  int64
 9   MONTH                319073 non-null  int64
 10  DAY_OF_WEEK          319073 non-null  object
 11  HOUR                 319073 non-null  int64
 12  UCR_PART             318983 non-null  object
 13  STREET               308202 non-null  object
 14  Lat                  299074 non-null  float64
 15  Long                 299074 non-null  float64
 16  Location             319073 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 41.4+ MB

In [60]:
crime.shape

(319073, 17)

In [61]:
crime.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP',
       'OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 'SHOOTING',
       'OCCURRED_ON_DATE', 'YEAR', 'MONTH', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART',
       'STREET', 'Lat', 'Long', 'Location'],
      dtype='object')

In [62]:
crime.isnull()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
319069,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
319070,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
319071,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
319072,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False

In [63]:
crime.isna()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
319069,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
319070,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
319071,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
319072,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False

In [64]:
crime.isnull().any(axis=1)

0         True
1         True
2         True
3         True
4         True
          ...
319068    True
319069    True
319070    True
319071    True
319072    True
Length: 319073, dtype: bool

In [69]:
row_with_missing_value= crime.isnull().any(axis=1)
crime[row_with_missing_value]

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,9/2/2018 13:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,8/21/2018 0:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,9/3/2018 19:27,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,9/3/2018 21:16,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,9/3/2018 21:05,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,6/5/2016 17:25,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
319069,I030217815-08,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,NaN,7/9/2015 13:38,2015,7,Thursday,13,Part One,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319070,I030217815-08,3125,Warrant Arrests,WARRANT ARREST,E18,520,NaN,7/9/2015 13:38,2015,7,Thursday,13,Part Three,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319071,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,5/31/2016 19:35,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"
319072,142052550,3125,Warrant Arrests,WARRANT ARREST,D4,903,NaN,6/22/2015 0:12,2015,6,Monday,0,Part Three,WASHINGTON ST,42.333839,-71.080290,"(42.33383935, -71.08029038)"

In [70]:
clean_crime=crime.drop(columns=['YEAR','MONTH','HOUR'])

In [71]:
clean_crime

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,DAY_OF_WEEK,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,9/2/2018 13:00,Sunday,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,8/21/2018 0:00,Tuesday,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,9/3/2018 19:27,Monday,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,9/3/2018 21:16,Monday,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,9/3/2018 21:05,Monday,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,6/5/2016 17:25,Sunday,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
319069,I030217815-08,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,NaN,7/9/2015 13:38,Thursday,Part One,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319070,I030217815-08,3125,Warrant Arrests,WARRANT ARREST,E18,520,NaN,7/9/2015 13:38,Thursday,Part Three,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319071,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,5/31/2016 19:35,Tuesday,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"
319072,142052550,3125,Warrant Arrests,WARRANT ARREST,D4,903,NaN,6/22/2015 0:12,Monday,Part Three,WASHINGTON ST,42.333839,-71.080290,"(42.33383935, -71.08029038)"

In [72]:
clean_crime['OFFENSE_CODE_GROUP'].unique()

array(['Larceny', 'Vandalism', 'Towed', 'Investigate Property',
       'Motor Vehicle Accident Response', 'Auto Theft', 'Verbal Disputes',
       'Robbery', 'Fire Related Reports', 'Other', 'Property Lost',
       'Medical Assistance', 'Assembly or Gathering Violations',
       'Larceny From Motor Vehicle', 'Residential Burglary',
       'Simple Assault', 'Restraining Order Violations', 'Violations',
       'Harassment', 'Ballistics', 'Property Found',
       'Police Service Incidents', 'Drug Violation', 'Warrant Arrests',
       'Disorderly Conduct', 'Property Related Damage',
       'Missing Person Reported', 'Investigate Person', 'Fraud',
       'Aggravated Assault', 'License Plate Related Incidents',
       'Firearm Violations', 'Other Burglary', 'Arson', 'Bomb Hoax',
       'Harbor Related Incidents', 'Counterfeiting', 'Liquor Violation',
       'Firearm Discovery', 'Landlord/Tenant Disputes',
       'Missing Person Located', 'Auto Theft Recovery', 'Service',
       'Operating Under the Influence', 'Confidence Games',
       'Search Warrants', 'License Violation', 'Commercial Burglary',
       'HOME INVASION', 'Recovered Stolen Property',
       'Offenses Against Child / Family', 'Prostitution', 'Evading Fare',
       'Prisoner Related Incidents', 'Homicide', 'Embezzlement',
       'Explosives', 'Criminal Harassment', 'Phone Call Complaints',
       'Aircraft', 'Biological Threat', 'Manslaughter', 'Gambling',
       'INVESTIGATE PERSON', 'HUMAN TRAFFICKING',
       'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE',
       'Burglary - No Property Taken'], dtype=object)

In [73]:
clean_crime['OFFENSE_DESCRIPTION'].unique()

array(['LARCENY ALL OTHERS', 'VANDALISM', 'TOWED MOTOR VEHICLE',
       'INVESTIGATE PROPERTY',
       'M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY', 'AUTO THEFT',
       'VERBAL DISPUTE', 'ROBBERY - STREET',
       'FIRE REPORT - HOUSE, BUILDING, ETC.', 'THREATS TO DO BODILY HARM',
       'PROPERTY - LOST', 'SICK/INJURED/MEDICAL - PERSON',
       'DEMONSTRATIONS/RIOT', 'LARCENY THEFT FROM MV - NON-ACCESSORY',
       'M/V ACCIDENT - OTHER', 'M/V ACCIDENT - PERSONAL INJURY',
       'BURGLARY - RESIDENTIAL - NO FORCE',
       'M/V - LEAVING SCENE - PROPERTY DAMAGE',
       'ASSAULT SIMPLE - BATTERY',
       'VIOL. OF RESTRAINING ORDER W NO ARREST',
       'VAL - VIOLATION OF AUTO LAW - OTHER',
       'VAL - OPERATING AFTER REV/SUSP.', 'HARASSMENT',
       'BALLISTICS EVIDENCE/FOUND', 'PROPERTY - FOUND',
       'LARCENY SHOPLIFTING', 'SERVICE TO OTHER PD INSIDE OF MA.',
       'FIRE REPORT/ALARM - FALSE',
       'DRUGS - POSS CLASS B - INTENT TO MFR DIST DISP', 'WARRANT ARREST',
       'DRUGS - POSS CLASS A - INTENT TO MFR DIST DISP',
       'M/V ACCIDENT - PROPERTY \xa0DAMAGE',
       'SICK/INJURED/MEDICAL - POLICE', 'DISORDERLY CONDUCT',
       'LARCENY THEFT FROM BUILDING', 'DANGEROUS OR HAZARDOUS CONDITION',
       'PROPERTY - ACCIDENTAL DAMAGE', 'MISSING PERSON',
       'INVESTIGATE PERSON', 'LARCENY THEFT OF BICYCLE',
       'M/V ACCIDENT - OTHER CITY VEHICLE',
       'FRAUD - FALSE PRETENSE / SCHEME',
       'DRUGS - POSS CLASS B - COCAINE, ETC.',
       'VAL - OPERATING WITHOUT LICENSE', 'DRUGS - SALE / MANUFACTURING',
       'DRUGS - POSS CLASS A - HEROIN, ETC. ',
       'DRUGS - CLASS B TRAFFICKING OVER 18 GRAMS',
       'DRUGS - POSS CLASS D - INTENT TO MFR DIST DISP',
       'DRUGS - POSS CLASS C', 'ASSAULT - AGGRAVATED',
       'M/V PLATES - LOST', 'ASSAULT - AGGRAVATED - BATTERY',
       'WEAPON - FIREARM - CARRYING / POSSESSING, ETC',
       'DEATH INVESTIGATION', 'M/V - LEAVING SCENE - PERSONAL INJURY',
       'BURGLARY - OTHER - ATTEMPT',
       'VAL - OPERATING W/O AUTHORIZATION LAWFUL', 'TRESPASSING',
       'FRAUD - WIRE', 'AUTO THEFT - MOTORCYCLE / SCOOTER',
       'DISTURBING THE PEACE', 'FIRE REPORT - CAR, BRUSH, ETC.', 'ARSON',
       'ASSAULT - SIMPLE', 'ANIMAL CONTROL - DOG BITES - ETC.',
       'BURGLARY - RESIDENTIAL - FORCE', 'BOMB THREAT',
       'RECOVERED STOLEN PLATE',
       'LARCENY THEFT OF MV PARTS & ACCESSORIES',
       'HARBOR INCIDENT / VIOLATION', 'WEAPON - OTHER - OTHER VIOLATION',
       'DRUGS - SICK ASSIST - HEROIN', 'ROBBERY - OTHER',
       'VIOL. OF RESTRAINING ORDER W ARREST', 'ROBBERY - COMMERCIAL',
       'FORGERY / COUNTERFEITING',
       'M/V ACCIDENT - INVOLVING \xa0BICYCLE - INJURY', 'AFFRAY',
       'LIQUOR - DRINKING IN PUBLIC',
       'M/V ACCIDENT - INVOLVING PEDESTRIAN - NO INJURY',
       'M/V ACCIDENT - INVOLVING BICYCLE - NO INJURY', 'SUDDEN DEATH',
       'OTHER OFFENSE', 'DRUGS - SICK ASSIST - OTHER NARCOTIC',
       'FIREARM/WEAPON - FOUND OR CONFISCATED', 'INTIMIDATING WITNESS',
       'DRUGS - OTHER', 'LANDLORD - TENANT SERVICE',
       'MISSING PERSON - LOCATED',
       'RECOVERED - MV RECOVERED IN BOSTON (STOLEN OUTSIDE BOSTON)',
       'LARCENY PURSE SNATCH - NO FORCE ', 'BURGLARY - OTHER - FORCE',
       'ROBBERY - CAR JACKING', 'ANIMAL INCIDENTS', 'DRUGS - POSSESSION',
       'FRAUD - IMPERSONATION', 'OPERATING UNDER THE INFLUENCE ALCOHOL',
       'FRAUD - CREDIT CARD / ATM FRAUD', 'PROPERTY - LOST THEN LOCATED',
       'WEAPON - OTHER - CARRYING / POSSESSING, ETC',
       'DRUGS - POSS CLASS E',
       'FIREARM/WEAPON - ACCIDENTAL INJURY / DEATH',
       'NOISY PARTY/RADIO-NO ARREST', 'LARCENY PICK-POCKET',
       'KIDNAPPING/CUSTODIAL KIDNAPPING', 'SEARCH WARRANT',
       'ANNOYING AND ACCOSTING', 'VIOLATION - CITY ORDINANCE',
       'LICENSE PREMISE VIOLATION',
       'MISSING PERSON - NOT REPORTED - LOCATED',
       'VAL - OPERATING UNREG/UNINS \xa0CAR',
       'BURGLARY - COMMERICAL - FORCE', 'PROPERTY - MISSING',
       'DRUGS - SICK ASSIST - OTHER HARMFUL DRUG',
       'BURGLARY - RESIDENTIAL - ATTEMPT',
       'DRUGS - POSS CLASS C - INTENT TO MFR DIST DISP',
       'WEAPON - FIREARM - OTHER VIOLATION',
       'DRUGS - POSS CLASS E - INTENT TO MFR DIST DISP', 'HOME INVASION',
       'POSSESSION OF BURGLARIOUS TOOLS',
       'PROPERTY - STOLEN THEN RECOVERED',
       'KIDNAPPING - ENTICING OR ATTEMPTED', 'CHILD ENDANGERMENT',
       'PROSTITUTION - COMMON NIGHTWALKER',
       'M/V ACCIDENT - POLICE VEHICLE',
       'STOLEN PROPERTY - BUYING / RECEIVING / POSSESSING',
       'OPERATING UNDER THE INFLUENCE DRUGS', 'SUICIDE / SUICIDE ATTEMPT',
       'EVADING FARE', 'INVESTIGATION FOR ANOTHER AGENCY', 'GRAFFITI',
       'BURGLARY - COMMERICAL - NO FORCE',
       'VIOLATION - CITY ORDINANCE CONSTRUCTION PERMIT',
       'DRUGS - CLASS A TRAFFICKING OVER 18 GRAMS',
       'REPORT AFFECTING OTHER DEPTS.', 'EXTORTION OR BLACKMAIL',
       'ROBBERY - HOME INVASION', 'LIQUOR LAW VIOLATION',
       'FUGITIVE FROM JUSTICE', 'AUTO THEFT - LEASED/RENTED VEHICLE',
       'STALKING', 'CHILD ENDANGERMENT (NO ASSAULT)',
       'DRUGS - POSS CLASS D', 'MURDER, NON-NEGLIGIENT MANSLAUGHTER',
       'ANIMAL ABUSE', 'EMBEZZLEMENT', 'CONSPIRACY EXCEPT DRUG LAW',
       'EXPLOSIVES - TURNED IN OR FOUND',
       'SERVICE TO OTHER PD OUTSIDE OF MA.',
       'BURGLARY - COMMERICAL - ATTEMPT', 'CRIMINAL HARASSMENT',
       'OBSCENE MATERIALS - PORNOGRAPHY', 'CHINS',
       'INJURY BICYCLE NO M/V INVOLVED', 'EXPLOSIVES - POSSESSION OR USE',
       'BURGLARY - OTHER - NO FORCE', 'FRAUD - WELFARE',
       'DRUGS - POSSESSION OF DRUG PARAPHANALIA', 'OBSCENE PHONE CALLS',
       'DRUGS - CONSP TO VIOL CONTROLLED SUBSTANCE', 'ROBBERY - BANK',
       'PROSTITUTION - SOLICITING', 'AIRCRAFT INCIDENTS',
       'NOISY PARTY/RADIO-ARREST',
       'DRUGS - CLASS D TRAFFICKING OVER 50 GRAMS',
       'PRISONER ESCAPE / ESCAPE & RECAPTURE', 'ABDUCTION - INTICING',
       'LARCENY THEFT FROM COIN-OP MACHINE', 'FIREARM/WEAPON - LOST',
       'GATHERING CAUSING ANNOYANCE',
       'CONTRIBUTING TO DELINQUENCY OF MINOR',
       'PROTECTIVE CUSTODY / SAFEKEEPING',
       'CHILD ABANDONMENT (NO ASSAULT)', 'VIOLATION - HAWKER AND PEDDLER',
       'PROPERTY - CONCEALING LEASED',
       'PRISONER - SUICIDE / SUICIDE ATTEMPT', 'TRUANCY / RUNAWAY',
       'WEAPON - FIREARM - SALE / TRAFFICKING', 'BIOLOGICAL THREATS',
       'MANSLAUGHTER - VEHICLE - NEGLIGENCE', 'PROSTITUTION',
       'PRISONER ATTEMPT TO RESCUE', 'GAMBLING - BETTING / WAGERING',
       'CUSTODIAL KIDNAPPING', 'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS',
       'MANSLAUGHTER - NON-VEHICLE - NEGLIGENCE',
       'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE',
       'PROSTITUTION - ASSISTING OR PROMOTING', 'DRUGS - GLUE INHALATION',
       'KILLING OF FELON BY POLICE',
       'LARCENY NON-ACCESSORY FROM VEH. $50 TO $199', 'COUNTERFEITING',
       'ANNOYING AND ACCOSTIN', 'LARCENY BICYCLE $200 & OVER',
       'DRUGS - POSS CLASS A - HEROIN, ETC.',
       'LARCENY SHOPLIFTING UNDER $50', 'ASSAULT & BATTERY D/W - OTHER',
       'A&B HANDS, FEET, ETC.  - MED. ATTENTION REQ.',
       'DRUGS - POSS CLASS D - MARIJUANA, ETC.',
       'LARCENY IN A BUILDING $200 & OVER', 'LARCENY OTHER $200 & OVER',
       'FIREARM/WEAPON - CARRY - SELL - RENT',
       'FIREARM/WEAPON - POSSESSION OF DANGEROUS',
       'ASSAULT & BATTERY D/W - OTHER ON POLICE OFFICER',
       'A&B ON POLICE OFFICER', 'ASSAULT D/W - OTHER',
       'ASSAULT & BATTERY', 'AUTO THEFT - RECOVERED IN BY POLICE',
       'ROBBERY ATTEMPT - KNIFE - BANK',
       'ASSAULT D/W - KNIFE ON POLICE OFFICER',
       'ROBBERY - UNARMED - STREET', 'LARCENY SHOPLIFTING $200 & OVER',
       'FORGERY OR UTTERING', 'FRAUD - FALSE PRETENSE',
       'AUTO THEFT LEASE/RENT VEHICLE', 'VIOLATION - RESTRAINING ORDER',
       'ROBBERY - UNARMED - CHAIN STORE',
       'LARCENY IN A BUILDING $50 TO $199', 'LARCENY OTHER $50 TO $199',
       'AUTO THEFT - OUTSIDE - RECOVERED IN BOSTON',
       'PROPERTY - RECEIVING STOLEN', 'ROBBERY - KNIFE - STREET',
       'LARCENY NON-ACCESSORY FROM VEH. $200 & OVER',
       'LARCENY NON-ACCESSORY FROM VEH. UNDER $50',
       'DRUGS - POSS CLASS E INTENT TO MF DIST DISP',
       'ASSAULT & BATTERY D/W - KNIFE',
       'B&E NON-RESIDENCE DAY - NO FORCE',
       'LARCENY IN A BUILDING UNDER $50', 'LARCENY OTHER UNDER $50',
       'DISORDERLY PERSON', 'B&E RESIDENCE NIGHT - ATTEMPT FORCE',
       'CHILD ABUSE', 'AUTO THEFT OTHER', 'FRAUDS - ALL OTHER',
       'B&E RESIDENCE DAY - NO PROP TAKEN',
       'LARCENY SHOPLIFTING $50 TO $199', 'ROBBERY - UNARMED - RESIDENCE',
       'B&E NON-RESIDENCE DAY - FORCIBLE',
       'B&E NON-RESIDENCE DAY - NO PROP TAKEN',
       'B&E RESIDENCE DAY - NO FORCE', 'ROBBERY - UNARMED - BUSINESS',
       'B&E NON-RESIDENCE NIGHT - FORCE',
       'PROSTITUTE - COMMON NIGHTWALKER',
       'DRUGS - POSS CLASS D - INTENT MFR DIST DISP'], dtype=object)

In [75]:
clean_crime['DAY_OF_WEEK'].unique()

array(['Sunday', 'Tuesday', 'Monday', 'Saturday', 'Friday', 'Wednesday',
       'Thursday'], dtype=object)

In [77]:
clean_crime=clean_crime.drop(columns=['Location'])

In [78]:
clean_crime

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,DAY_OF_WEEK,UCR_PART,STREET,Lat,Long
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,9/2/2018 13:00,Sunday,Part One,LINCOLN ST,42.357791,-71.139371
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,8/21/2018 0:00,Tuesday,Part Two,HECLA ST,42.306821,-71.060300
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,9/3/2018 19:27,Monday,Part Three,CAZENOVE ST,42.346589,-71.072429
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,9/3/2018 21:16,Monday,Part Three,NEWCOMB ST,42.334182,-71.078664
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,9/3/2018 21:05,Monday,Part Three,DELHI ST,42.275365,-71.090361
...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,6/5/2016 17:25,Sunday,Part Three,COVENTRY ST,42.336951,-71.085748
319069,I030217815-08,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,NaN,7/9/2015 13:38,Thursday,Part One,RIVER ST,42.255926,-71.123172
319070,I030217815-08,3125,Warrant Arrests,WARRANT ARREST,E18,520,NaN,7/9/2015 13:38,Thursday,Part Three,RIVER ST,42.255926,-71.123172
319071,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,5/31/2016 19:35,Tuesday,Part Three,NEW WASHINGTON ST,42.302333,-71.111565
319072,142052550,3125,Warrant Arrests,WARRANT ARREST,D4,903,NaN,6/22/2015 0:12,Monday,Part Three,WASHINGTON ST,42.333839,-71.080290

In [79]:
clean_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319073 entries, 0 to 319072
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      319073 non-null  object
 1   OFFENSE_CODE         319073 non-null  int64
 2   OFFENSE_CODE_GROUP   319073 non-null  object
 3   OFFENSE_DESCRIPTION  319073 non-null  object
 4   DISTRICT             317308 non-null  object
 5   REPORTING_AREA       319073 non-null  object
 6   SHOOTING             1019 non-null    object
 7   OCCURRED_ON_DATE     319073 non-null  object
 8   DAY_OF_WEEK          319073 non-null  object
 9   UCR_PART             318983 non-null  object
 10  STREET               308202 non-null  object
 11  Lat                  299074 non-null  float64
 12  Long                 299074 non-null  float64
dtypes: float64(2), int64(1), object(10)
memory usage: 31.6+ MB

In [80]:
clean_crime['OCCURRED_ON_DATE'] = pd.to_datetime(clean_crime['OCCURRED_ON_DATE'])

In [81]:
clean_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319073 entries, 0 to 319072
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      319073 non-null  object
 1   OFFENSE_CODE         319073 non-null  int64
 2   OFFENSE_CODE_GROUP   319073 non-null  object
 3   OFFENSE_DESCRIPTION  319073 non-null  object
 4   DISTRICT             317308 non-null  object
 5   REPORTING_AREA       319073 non-null  object
 6   SHOOTING             1019 non-null    object
 7   OCCURRED_ON_DATE     319073 non-null  datetime64[ns]
 8   DAY_OF_WEEK          319073 non-null  object
 9   UCR_PART             318983 non-null  object
 10  STREET               308202 non-null  object
 11  Lat                  299074 non-null  float64
 12  Long                 299074 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(9)
memory usage: 31.6+ MB